<div class="">
  <div class="" style="background-color: grey">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content">
            <a><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
              <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
            </svg>
            </a>
            <a class="text-white mr-4 ml-1">+849876865561</a>
            <a>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope mb-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
              </svg>
            </a>
            <a class="text-white ml-2">Phanam1126@gmail.com</a>
          </div>
        </div>
        <div class="col-6">
          <div class="text-right">
            <a href="#" class="text-white px-4">Đăng nhập</a>
            <a href="#" class="text-white">Đăng Ký</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="" style="background-color:#e3f2fd">
    <div class="container">
      <div class="row">
        <div class="col-3 mt-2 text-center">
          <h1><span>H</span>ola Shop</h1>
        </div>
        <div class="col-sm">
          <div class="justify-content mt-3">
            <div class="form-group row">
              <div class="mt-2 text-left">
                <span>Tìm kiếm :</span>
              </div>
              <div class="col-9">
                <!-- <input class="form-control border-0" placeholder="Tìm kiếm" aria-label="Search" name="search" [(ngModel)]="searchText" type="text" autocomplete="off"> -->
                <input class="form-control border-0" placeholder="Tìm kiếm" aria-label="Search" >
              </div>
              <button type="button" class="btn btn-danger">
                <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="justify-content-end mt-3">
            <div class="row ml-3">
              <div class="mt-2">
<!--                <span>Giỏ hàng</span>-->
              </div>
              <div class="mt-1 ml-5 form-group">
                <label type="button" class="mb-2 border-0 ">
                  <svg width="5em" height="2em" viewBox="0 0 16 16" class="bi bi-cart text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" border border-dark" style="background-color: #e3f2fd;">
    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-light">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          </svg>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/trangchu">Trang chủ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Áo câu lạc bộ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Áo Barcelona 2021</a>
                <a class="dropdown-item" href="#">Áo Atlentico Madrid 2021</a>
                <a class="dropdown-item" href="#">Áo Real Madrid 2021</a>
                <a class="dropdown-item" href="#">Áo Juventus 2021</a>
                <a class="dropdown-item" href="#">Áo Inter Milan 2021</a>
                <a class="dropdown-item" href="#">Áo Napoli 2021</a>
                <a class="dropdown-item" href="#">Áo Manchester United 2021</a>
                <a class="dropdown-item" href="#">Áo Manchester City 2021</a>
                <a class="dropdown-item" href="#">Áo Chelsea 2021</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Áo đội tuyển quốc gia
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Áo Nga Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Đức Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Pháp Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Anh Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Bỉ Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Ba Lan Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Ukraina Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Thụy Điển Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Đan Mạch Euro 2021</a>
              <a class="dropdown-item" href="#">Áo Thụy Sĩ Euro 2021</a>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Áo không logo</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Áo dài tay
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Áo bóng đá dài tay đội tuyển</a>
                <a class="dropdown-item" href="#">Áo bóng đá dài tay câu lạc bộy</a>
                <a class="dropdown-item" href="#">Áo bóng đá thủ môn dài ta</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Áo khoác
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Áo khoác bóng đá đội tuyển</a>
                <a class="dropdown-item" href="#">Áo khoác bóng đá câu lạc bộ</a>
              </div>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="/home">Áo trẻ em</a>-->
<!--            </li>-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phụ kiện
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Túi Đựng Đồ Bóng Đá</a>
                <a class="dropdown-item" href="#">Quả bóng đá</a>
                <a class="dropdown-item" href="#">Phụ kiện bảo vệ</a>
                <a class="dropdown-item" href="#">Găng tay thủ môn</a>
                <a class="dropdown-item" href="#">Áo Thủ Môn</a>
                <a class="dropdown-item" href="#">A Áo Tập (Pitch)</a>
                <a class="dropdown-item" href="#">Áo Trọng Tài</a>
              </div>
            </li>
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="/gioithieu">Giới thiệu</a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="/sanpham" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                Sản phẩm-->
<!--              </a>-->
<!--              <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Tin tức</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">liên hệ</a>-->
<!--            </li>-->
          </ul>
<!--          <span class="navbar-text">-->
<!--            Chào mừng đến với website của tôi !-->
<!--          </span>-->
<!--          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-laughing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>-->
<!--            <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>-->
<!--            <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>-->
<!--          </svg>-->
        </div>
      </nav>
    </div>
  </div>
</div>

