<div class="container mt-2">
  <div class="row">
    <div class="col-md-3">

      <div class="alert-primary">
        <h3 class="text-center py-1">Menu</h3>
      </div>
      <!--        <div class="dropdown-content-title mb-2"><h3>Menu</h3></div>-->
      <div class="border border-dark rounded">
        <ul class="nav flex-column nav-tabs bg-dark ">
          <li class="nav-item">
            <a class="nav-link" href="/home/trangchu">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/gioithieu">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/sanpham">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/tintuc">Tin tức</a>
          </li>
          <li class="nav_item">
            <a class="nav-link" href="/home/lienhe">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="widget-sidebar-item">
        <h2 class="widget-sidebar-name" title="Blog Tag">Blog Tag</h2>
        <ul class="widget-sidebar-list blog_tags">
          <li><a href="/blogs/all/tagged/quan-ao">quần áo</a></li>
        </ul>
      </div>
      <div class="widget-sidebar-item">
        <h2 class="widget-sidebar-name">Video</h2>
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/sH9XAoOuCSw" frameborder="0" style="width:100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <div class="col-md-8 ml-3">
      <h1 class="section-title-heading"><span>Tin tức</span></h1>

      <div class="blog-item">
        <h3 class="blog-name"><a href="/cach-chon-quan-the-thao-cho-nam" title="Cách Chọn Quần Thể Thao Cho Nam">Cách Chọn Quần Thể Thao Cho Nam</a></h3>
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <p class="blog-description">
              Trang phục thể thao muôn màu muôn vẻ và có những trang phục thích hợp với những bộ môn khác nhau. Khó nhất là quần, vậy bạn đã biết cách chọn quần thể thao cho nam ? Như các bạn đã biết, nhu cầu tập luyện thể thao đối với mọi người ngày càng phát triển và có sức ảnh hưởng nhất định.
              Vì thế việc trang bị...
            </p>
            <p class="blog-description">
              Trang phục thể thao muôn màu muôn vẻ và có những trang phục thích hợp với những bộ môn khác nhau. Khó nhất là quần, vậy bạn đã biết cách chọn quần thể thao cho nam ? Như các bạn đã biết, nhu cầu tập luyện thể thao đối với mọi người ngày càng phát triển và có sức ảnh hưởng nhất định.
              Vì thế việc trang bị...
            </p>
          </div>
        </div>
        <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Nguyen Manh Tung <i class="fa fa-comment-o"></i> 1 Bình luận</p>
      </div>
      <div class="blog-item">
        <h3 class="blog-name"><a href="/cach-chon-quan-the-thao-cho-nam" title="Cách Chọn Quần Thể Thao Cho Nam">Cách Chọn Quần Thể Thao Cho Nam</a></h3>
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <p class="blog-description">
              Trang phục thể thao muôn màu muôn vẻ và có những trang phục thích hợp với những bộ môn khác nhau. Khó nhất là quần, vậy bạn đã biết cách chọn quần thể thao cho nam ? Như các bạn đã biết, nhu cầu tập luyện thể thao đối với mọi người ngày càng phát triển và có sức ảnh hưởng nhất định.
              Vì thế việc trang bị...
            </p>
            <p class="blog-description">
              Trang phục thể thao muôn màu muôn vẻ và có những trang phục thích hợp với những bộ môn khác nhau. Khó nhất là quần, vậy bạn đã biết cách chọn quần thể thao cho nam ? Như các bạn đã biết, nhu cầu tập luyện thể thao đối với mọi người ngày càng phát triển và có sức ảnh hưởng nhất định.
              Vì thế việc trang bị...
            </p>
          </div>
        </div>
        <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Nguyen Manh Tung <i class="fa fa-comment-o"></i> 1 Bình luận</p>
      </div>

      <nav aria-label="Page navigation example" class="row d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
